*{
	margin: 0;
	padding:0;
	overflow-x: hidden;
	font-family: Nunito !important;


}
#logo{
	background: transparent;
  	transform:rotate(-2deg);
  	position: absolute;
  	height: 60px;
  	top: 7%;

}
#logoPic{
	width: 219px;
	height: 60px;
	margin: auto;
	background: url(../../img/logoNew.png);
	background-size: contain;
}
#mockups{
	background:transparent;
	overflow: hidden;
	position: relative;
	float: left;
	margin-top: 60px;
}
#mockups span{
	width: 70%;
	height: inherit;
	display: block;
	position: absolute;
	left: 50%;
	top:50%;
  	transform:translate(-50%, -50%) rotate(-2deg);
  	background:transparent;
  	color:white;
  	font-weight: 900;
  	text-align: center;
  	font-size: 3vw;
  	overflow: hidden;
	background-size: contain;
	z-index: 100;
}
#iimage:hover{
	left: 55%;
	top:45%;
}
#iimage:hover + #iimage2{
	left: 45%;
	top: 65%;
}

#iimage2:hover{
	left: 45%;
	top: 65%;
}
#iimage2:hover + #iimage{
	
	left: 55%;
	top:45%;
}
#iimage{
	width: 40vw;
	height: 24vw;
	display: block;
	position: absolute;
	left: 50%;
	top:50%;
  	transform:translate(-50%, -50%);
	background: url(../../img/white.png) no-repeat;
	background-size: contain;
	z-index: 100;
	transition: 0.5s ease;
}
#iimage2{
	width: 40vw;
	height: 24vw;
	display: block;
	position: absolute;
	left: 50%;
	top: 60%;
  	transform:translate(-50%, -50%);
	background: url(../../img/black.png) no-repeat;
	background-size: contain;
	z-index: 99;

	transition: 0.5s ease;
}
#header{
  width:110%;
  height: 80vh;
	background: linear-gradient(2deg, rgba(120,0,255,1) 0%, rgba(164,0,255,1) 100%);
  position: absolute;
  top:-5%;
  left:-5%;
  transform:rotate(2deg);
}
#middle{
  width:110%;
  min-height: 60vh;
  height: auto;
  background: linear-gradient(180deg, rgba(120,0,255,1) 0%, rgba(164,0,255,1) 100%);
  position: absolute;
  margin-top: -1%;
  left:-5%;
  transform:rotate(2deg);
  z-index: 109;
}
#container{
	width: 110%;
	height: 81vh !important;
    transform:rotate(2deg);
	margin-top: 74vh;
	left:-5%;
	position: relative;
	border: 0;
	overflow: hidden;
	z-index: 98;

}
#conMin{
	width: 110%;
	height: 81vh !important;
	left:-5%;
	top:0;
	position: absolute;
	border: 0;
	overflow: hidden;
	z-index: 98;
	filter:url(#goo); 

}

#container2{
	width: 110%;
	height: 81vh !important;
    transform:rotate(2deg);
	margin-top: 75vh;
	left:-5%;
	position: absolute;
	border: 0;
	overflow: hidden;
	z-index: 97;
	background: url(../../img/leftSideEffect.png) left top no-repeat, url(../../img/rightSideEffect.png) right top no-repeat;
	background-size: contain, contain;

}

#container3{
	width: 110%;
	height: 61vh !important;
	margin-top: 75vh;
	left:-5%;
	position: absolute;
	border: 0;
	overflow: hidden;
	z-index: 100;

}
.overview{
	z-index: 98;
    max-width: 900px;
    height: auto;
    position: absolute;
	left: 50%;
	top:50%;
	font-size: 25px;
  	transform:translate(-50%, -50%) rotate(0deg);
    text-align: center;
    width: auto;
    color: black;
    mix-blend-mode: screen;
    display: none;

}

#midText{
	z-index: 100;
    max-width: 900px;
    width: auto;
    position: absolute;
	left: 50%;
	top:50%;
	font-size: 25px;
  	transform:translate(-50%, -50%) rotate(-2deg);
    text-align: center;
    width: auto;
    color: black;
    mix-blend-mode: difference;
    filter: blur(0) contrast(100%) !important ;

}
.particle{
	width: 100px;
	height: 100px;
	background: #7800ff;
	position: absolute;
	border-radius: 100%;
	overflow: hidden;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
	animation: fall 15s infinite;
	-webkit-display: none;
	z-index: 98;

}
.border2{
	position: absolute;
	width: 100%;
	height: 20px;
	background: #7800ff;
	overflow: hidden;
  	border: 0 !important;
	z-index: 98;
}
.particle:nth-of-type(1){
	left:10%;
	animation-delay: 2s;
}
.particle:nth-of-type(2){
	width: 8vw;
	height: 8vw;
	left:30%;
	animation-delay: 1.5s;
}
.particle:nth-of-type(3){
	width: 12vw;
	height: 12vw;
}
.particle:nth-of-type(4){
	width: 15vw;
	height: 15vw;
	left:40%;
	animation-delay: 5s;
}
.particle:nth-of-type(5){
	width: 9vw;
	height: 9vw;
	left:90%;
	animation-delay: 5s;
}
.particle:nth-of-type(6){
	width: 15vw;
	height: 15vw;
	left:40%;
	animation-delay: 8 s;
}
.particle:nth-of-type(7){
	width: 9vw;
	height: 9vw;
	left:70%;
	animation-delay: 6s;
}


.particle:nth-of-type(8){
	left:10%;
	animation-delay: 8s;
}
.particle:nth-of-type(9){
	width: 9vw;
	height: 9vw;
	left:30%;
	animation-delay: 10.5s;
}
.particle:nth-of-type(10){
	width: 12vw;
	height: 12vw;
}
.particle:nth-of-type(11){
	width: 8vw;
	height: 8vw;
	left:70%;
	animation-delay: 12s;
}
.particle:nth-of-type(12){
	width: 15vw;
	height: 15vw;
	left:40%;
	animation-delay: 13s;
}
.particle:nth-of-type(13){
	width: 9vw;
	height: 9vw;
	left:90%;
	animation-delay: 14s;
}
.particle:nth-of-type(14){
	width: 15vw;
	height: 15vw;
	left:40%;
	animation-delay: 15s;
}
@media screen and (max-width: 767px){
	#mockups span{
		font-size:30px;
	}
	.phones{
		margin-top: 20% !important;
		height: 250px;

	}
	#iimage{
		min-width: 256px !important;
		min-height: 160px !important;
	}

	#iimage2{
		min-width: 256px !important;
		min-height: 160px !important;
	}
	.desShort{
		margin-top: -5% !important;
		height: 300px;
	}
}

@media screen and (max-width: 500px){
	
	.desShort span{
		font-size: 25px !important;

	}
	.btn-liquid{
		width: 80% !important;
	}
	#header{
		left: 0 !important;
	}
	#logo{
		left: -5%;
	}
}

@media screen and (max-width: 310px){
	
	.desShort span{
		font-size: 23px !important;

	}
	.overview2{
		font-size: 12px !important;
	}
}

@media screen and (max-width: 1100px){
	
	.overview2{
	font-size: 20px;

	}
}

@media screen and (max-width: 680px){
	
	.overview2{
	font-size: 17px;

	}
}

@media screen and (max-width: 500px){
	
	.overview2{
	font-size: 15px;

	}
	#quizer{
		max-width: 80%;
		width: auto;
	}
	#heading{
		font-size: 5vw !important;
	}
}

@media screen and (max-width: 400px){
	
	.overview2{
	font-size: 14px;

	}
	#secondBor{
		top:97% !important;
	}
}

@media screen and (max-width: 520px){
	#secondBor{
		top:97% !important;
	}
}
@media screen and (max-width: 653px){
	
	#afterquiz{
		min-width: 90% !important;
		width: auto !important;
		font-size: 15px !important;
	}
}

@-webkit-keyframes slideInFromLeft {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fall {
    0%{top:-40%;}

    20%{top:0;}

    80%{top:85%;}

    100%{top:100%;}
}
@-moz-keyframes fall {
    
    0%{top:-40%;}

    20%{top:0;}

    80%{top:85%;}

    100%{top:100%;}
}
@keyframes fall { 
    
    0%{top:-40%;}

    20%{top:0;}

    80%{top:85%;}

    100%{top:100%;}
}


@-webkit-keyframes gradientFlow {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradientFlow {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradientFlow { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}




.btn-liquid {
	display: inline-block;
	position: absolute;
	left: 50%;
	bottom: 20%;
	width: 350px;
	height: 70px;
	position: absolute;
  	transform: translateX(-50%) rotate(-2deg) ;
	border-radius: 27px;
	background: transparent;
	color: #fff;
	letter-spacing: 0.05em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
}

.btn-liquid .inner {
	position: relative;
	display: inline-block;
	line-height: 70px;
	height: inherit !important;

	background: transparent;
	text-align: center;
  	transform: translate(-50%, -50%) rotate(0deg) !important;
	font-size: 20px !important;
	z-index: 2;
}

.btn-liquid canvas {
	position: absolute;
	top: -50px;
	right: -50px;
	bottom: -50px;
	left: -50px;

	overflow: hidden;
	background: transparent;
	z-index: 1;
}




@media screen and (max-width: 357px){
	
	.btn-liquid .inner{
		font-size: 16px !important;
	}
}
@media screen and (max-width: 800px){
	
	#container2{
		background:none;
	}
}



.pluses{
	width: 100%;
	height: 50px;
	background:rgba(120,0,255,1);
	mix-blend-mode: multiply !important; 

}
.emailText{
	width: 100%;
	padding: 5% 5%;
	text-align: left;
	background: #fff;
	font-size: 15px;
	overflow: hidden;
	cursor: pointer;
	border-radius: 30px;
	color: black;
}


.question{
  font-size: 30px;
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 30px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
button{
	font-size: 13px;
	display: block;
	border-radius: 30px !important;
	background-color: #22bb45;
	color: #fff;
	border: 0px;
	padding: 15px 25px;
	cursor: pointer;
	float: left;
}
#quizButtons{
	min-height: 70px;
	height: auto;
	position: absolute;
	bottom: 0;
	left: 50%;
  	transform:translateX(-50%);
}

.answers{
	width: 100%;
  height: auto;

	overflow: hidden;
}
label{
	width: 100%;
	height: 60px;
	text-align: center;
	line-height: 60px;
	background: #fff;
	font-size: 20px;

	cursor: pointer;
	border-radius: 10px;
	color: black;
	transition: 0.2s ease;
}
input[type="radio"]{
	display: none;
}
input[type="radio"]:checked + label {
    background-color:lightgreen;
    color: #fff
}
.emailSurvey{
	width: 100%;
	padding: 0;
	text-align: center;
	line-height: 60px;
	background: #fff;
	font-size: 15px;
	overflow: hidden;
	cursor: pointer;
	border-radius: 30px;
	color: black;
}
#quizer{
	width: 400px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
  	transform:translate(-50%, -50%) rotate(-2deg);
  	background: transparent;
}
.slide{
  float: left;
  display: block;
  width: 100%;
  z-index: 1;
  opacity: 0;
  display: none;
  transition: 0.2s ease;
}
.active-slide{
  opacity: 1;
  z-index: 2;
  height: auto;
  display: block !important;
  transition: 0.2s ease;
}
.quiz-container{
  position: relative;

	overflow: hidden;
  height: auto;
  overflow: hidden;
  text-align: center;
  margin-top: 40px;
  background: transparent !important;
  color: #fff;
}
#quiz{
  
	overflow: hidden;
  background: transparent !important;
  color: #fff;
}

.contentors span{
	width: 90%;
	display: block;
	text-align: center;
	height: auto;
	margin:auto;
	font-size: 40px;
}
.artist{
	color: #fff;
    padding: 20px 30px;
    font-size: 20px;
    border-radius: 60px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #22BB45;
}
.contentors{
	max-width: 1000px;
	width: auto;
	overflow: hidden;
	min-height: 750px;
	height: auto; 
	margin: 10% auto;
  	transform:rotate(-2deg);

  	text-align: center;
}
#custum{
	width: 110%;
	min-height: 820px;
	height: auto; 

	overflow: hidden;
	background: #FCFCFF;
  	transform:rotate(2deg);
  	position: absolute;
	  left:-5%;
}
#cropGif{
	width: 100%;
	height: calc(990px * 0.5625);
	position: relative;
	overflow: hidden;
}
#cropGif img{
	width: 105%;

	height: calc((990px / 100) * 105 * 0.5625);
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
}